.heroCardSection {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dragOuterContainer {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dragInnerContainer {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
